---
version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
    assignees:
      - "zbhavyai"
    open-pull-requests-limit: 1
    groups:
      pnpm-dependencies:
        patterns:
          - "*"
    pull-request-branch-name:
      separator: "-"
    cooldown:
      default-days: 5
      semver-major-days: 15

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
    assignees:
      - "zbhavyai"
    open-pull-requests-limit: 1
    groups:
      actions-dependencies:
        patterns:
          - "*"
    pull-request-branch-name:
      separator: "-"
