# git related
.git/
.gitignore
.gitattributes
.github
.hooks/

# build folders
node_modules/
build/
dist/

# ide settings
.idea/
.vscode/
.editorconfig

# configuration files
.dockerignore
.prettierignore
Dockerfile
Makefile

# other
resume/
