/* BASE **********************************************************************/
:root {
  /* current */
  --theme-dark-1: #0e0f0f;
  --theme-dark-2: #303436;
  --theme-text: #deddda;
  --theme-text-bright: #ffffff;

  /* flathub */
  /* --theme-dark-1: #241f31; */
  /* --theme-dark-2: #3d3846; */
}

html,
body {
  background-color: var(--theme-dark-1);
  margin: 0;
  font-family: "Inter", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HEADER ********************************************************************/
.zbhavyai-navbar {
  background-color: var(--theme-dark-1) !important;
}

.zbhavyai-brand {
  text-transform: uppercase !important;
  color: var(--theme-text) !important;
  font-size: 2em !important;
}

.nav-item {
  text-align: center;
  text-transform: uppercase;
}

.nav-link.active {
  background-color: var(--theme-dark-2) !important;
  font-weight: bold;
  color: var(--theme-text-bright) !important;
  border-radius: 5px;
}

/* MONO FONTS ****************************************************************/
.fira-mono-regular {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.fira-mono-medium {
  font-family: "Fira Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.fira-mono-bold {
  font-family: "Fira Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

/* PROJECT CARDS *************************************************************/
.card-project {
  background-color: var(--theme-dark-1);
}

.card-project:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.55) !important;
  transition: 0.3s;
}

.card-experience .card-header,
.card-experience .card-footer {
  background-color: #ffffff;
  border: 0;
}
.card-experience .triangle-list {
  margin-top: 0;
  margin-bottom: 0;
}

/* Customize badges */
.tech-badge {
  background-color: #f1f1f1 !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px !important;
  display: inline-block;
  font-weight: lighter;
  color: #111111;
  font-size: 0.9em;
  line-height: 1.6em;
  margin: 5px;
  padding: 0 5px;
  letter-spacing: 0.05em;
}

/* Triangle list style */
ul.triangle-list {
  list-style-type: none;
  margin: 0.75em 0;
  padding: 0 1em;
}
li.triangle-list:before {
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.5em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1em;
  position: relative;
}
