/* BASE **********************************************************************/
:root {
  --theme-dark-1: #0e0f0f;
  --theme-dark-2: #262a2b;
  --theme-text: #deddda;
  --theme-text-bright: #ffffff;
}

html,
body {
  background-color: var(--theme-dark-1);
  color: var(--theme-text);
  margin: 0;
  font-family: "Inter", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HEADER ********************************************************************/
.zbhavyai-navbar {
  background-color: var(--theme-dark-1) !important;
}

.zbhavyai-brand {
  text-transform: uppercase !important;
  color: var(--theme-text) !important;
  font-size: 2em !important;
}

.nav-item {
  text-align: center;
  text-transform: uppercase;
}

.nav-link.active {
  background-color: var(--theme-dark-2) !important;
  font-weight: bold;
  color: var(--theme-text-bright) !important;
  border-radius: 5px;
}

/* MONO FONTS ****************************************************************/
.fira-mono-regular {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.fira-mono-medium {
  font-family: "Fira Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.fira-mono-bold {
  font-family: "Fira Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

/* ABOUT *********************************************************************/
.zbhavyai-container-about {
  min-height: 80vh !important;
  text-align: left;
}

.zbhavyai-col-about {
  max-width: 850px;
}

.zbhavyai-h1-about {
  font-size: 3em;
}

.zbhavyai-container-social {
  text-align: left;
}

.zbhavyai-container-social .social {
  padding-left: 0px;
  padding-right: 20px;
  color: var(--theme-text);
}

/* PROJECT CARDS *************************************************************/
.zbhavyai-project-link {
  text-decoration: none;
  color: var(--theme-text);
  display: block;
}

.zbhavyai-project-card {
  background-color: var(--theme-dark-2);
  display: block;
  border-radius: 10px;
  color: var(--theme-text);
  block-size: 130px;
  font-size: 0.9em;
}

.zbhavyai-project-card-image {
  display: inline-block;
  object-fit: contain !important;
  width: 130px;
  height: 130px;
}

.zbhavyai-project-card-title {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.zbhavyai-project-card-text {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

/* RESUME CARDS **************************************************************/
.zbhavyai-container-skills,
.zbhavyai-container-experience,
.zbhavyai-container-certifications,
.zbhavyai-container-downloader,
.zbhavyai-container-education {
  max-width: 1000px;
  text-align: left;
  border: 0;
  font-size: 0.9em;
}

.zbhavyai-skills-card,
.zbhavyai-experience-card,
.zbhavyai-certification-card,
.zbhavyai-education-card {
  background-color: var(--theme-dark-2);
  color: var(--theme-text);
}

.zbhavyai-skills-table,
.zbhavyai-skills-table td {
  background-color: var(--theme-dark-2) !important;
  color: var(--theme-text) !important;
  border: none !important;
  margin-bottom: 0;
}

.zbhavyai-experience-card .card-title,
.zbhavyai-certification-card .card-title,
.zbhavyai-education-card .card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.zbhavyai-experience-card,
.card-header,
.card-footer {
  border: 0;
}

.zbhavyai-experience-card .zbhavyai-list-triangle {
  margin-top: 0;
  margin-bottom: 0;
}

ul.zbhavyai-list-triangle {
  list-style-type: none;
  margin: 0.75em 0;
  padding: 0 1em;
}

li.zbhavyai-list-triangle:before {
  content: "";
  border-color: transparent var(--theme-text);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.5em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1.1em;
  position: relative;
}

.zbhavyai-tech-badge {
  background-color: var(--theme-dark-1) !important;
  border: 1px solid var(--theme-text);
  border-radius: 5px !important;
  display: inline-block;
  font-weight: lighter;
  color: var(--theme-text);
  font-size: 0.9em;
  line-height: 1.6em;
  margin: 5px;
  padding: 0 5px;
  letter-spacing: 0.05em;
}

.zbhavyai-text-heavy {
  font-weight: lighter;
  line-height: 1.6em;
  letter-spacing: 0.03em;
  text-align: justify;
}

.zbhavyai-certificate-link {
  text-decoration: none;
  color: var(--theme-text);
}

.zbhavyai-external-link-icon {
  font-size: 0.8rem;
  padding-left: 5px;
  position: relative;
  top: -4px;
}

.zbhavyai-clipboard-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.zbhavyai-skills-card:hover .zbhavyai-clipboard-icon,
.zbhavyai-experience-card:hover .zbhavyai-clipboard-icon {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
