/**
 * update background color
 */
html,
body {
  background-color: #f9f9f9;
}

/**
 * mono fonts
 */
.monoFontFira {
  font-family: 'Fira Mono', 'Roboto Mono', 'Inter', sans-serif;
  font-size: 14px;
}
.monoFontInconsolata {
  font-family: 'Inconsolata', monospace;
}

/**
 * make all items in navbar brighter
 */
.nav-link {
  color: #ffffff;
}

/**
 * make selected item in navbar bold
 */
.nav-link.active {
  font-weight: bold;
}

/**
 * Hover effect on project cards
 */
.card-project:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.55) !important;
  transition: 0.3s;
}

/**
 * Make card header and footer as part of body
 */
.card-experience .card-header,
.card-experience .card-footer {
  background-color: #ffffff;
  border: 0;
}
.card-experience .triangle-list {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Customize badges
 */
.tech-badge {
  background-color: #f1f1f1 !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px !important;
  display: inline-block;
  font-weight: lighter;
  color: #111111;
  font-size: 0.9em;
  line-height: 1.6em;
  margin: 5px;
  padding: 0 5px;
  letter-spacing: 0.05em;
}

/**
 * Triangle list style
 */
ul.triangle-list {
  list-style-type: none;
  margin: 0.75em 0;
  padding: 0 1em;
}
li.triangle-list:before {
  content: '';
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.5em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1em;
  position: relative;
}
