name: Deploy to GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Set up NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Format checks
        run: pnpm exec prettier --log-level error --check .

  build:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Set up NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build application
        run: pnpm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-artifacts
          path: dist/
          retention-days: 5

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Download build artifacts
        uses: actions/download-artifact@v7
        with:
          name: build-artifacts
          path: dist/

      - name: Configure git
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Deploy to GitHub Pages
        run: |
          if [[ -z $(git ls-remote --heads origin gh-pages) ]]; then
            echo "Create new branch gh-pages"
            git checkout --orphan gh-pages

            # remove source code
            git rm -rf .

            # move build artifacts
            mv dist/* .

            # commit changes
            git add -A
            git commit -m "Initial gh-pages deploy"
            git push origin gh-pages

          else
            echo "Use existing branch gh-pages"
            git checkout gh-pages

            # remove old build artifacts
            git rm -rf .

            # move build artifacts
            cp -r dist/* .
            rm -rf dist/
            git add -A

            # for logging
            git status

            if ! git diff --cached --quiet; then
              git commit -m "Update site: ${{ github.sha }}"
              git push origin gh-pages
            else
              echo "No changes to deploy."
            fi
          fi
